@using ISproj.Views.Home
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@HomeNavPages.IndexNavClass(ViewContext)"><a asp-controller="Home" asp-action="Index">Profil</a></li>
    <li class="@HomeNavPages.TeacherNavClass(ViewContext)"><a asp-controller="Teacher" asp-action="Index">Profesori</a></li>
    <li class="@HomeNavPages.StudentNavClass(ViewContext)"><a asp-controller="Student" asp-action="Index">Studenti</a></li>
    <li class="@HomeNavPages.CoursesNavClass(ViewContext)"><a asp-controller="Courses" asp-action="Index">Cursuri</a></li>
</ul>

