@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid login-bg">
    <div class="login-right-selection"></div>
    <div class="login-center">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/logo_ucv2.png" class="login-faculty-logo" />
            </div>
            <div class="col-md-6">
                <section>
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <h4 class="login-error">Login</h4>
                        <hr />

                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="CNP" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Parola" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="All" class="text-danger login-error"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default login-loginbtn">Log in</button>
                        </div>
                        <div class="form-group">
                            <p class="login-recover">
                                <a asp-controller="Account" asp-action="ForgotPassword">Recupereaza-ti parola</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

</div>
<footer class="login-footer">
    <span> &#64; 2018 Universitatea din Craiova </span>
</footer>
<script>


</script>