@using Microsoft.AspNetCore.Identity
@using ISproj.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
    <div class="profile-area text-right">
        <a asp-area="" asp-controller="Manage" asp-action="ChangePassword" class="logged-user-header-profile-email text-right">
            <i class="glyphicon glyphicon-envelope"></i> @UserManager.GetUserName(User)
        </a>   
    </div>
    <div class="profile-area text-right">
        <button type="submit" class="btn log-out-btn">
            <i class="glyphicon glyphicon-log-out"></i> Log out
        </button>
    </div>
</form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
