@model ISproj.Models.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<body class="login-body">
    <header>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    </header>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="right-main-selection col ">

                @*<a href="#" class="login-h">Cadru Universitar</a>
                    <a href="#" class="login-h">Sectretariat</a>
                    <a href="#" class="login-h">Administrator</a>*@
            </div>
        </div>



        <div class="container login-boxes">

            <div class="login-box-1" id="ContainerBox1">
                <div class="row">
                    <div class="col-sm-7 login-fields">
                        <form method="post" action="/Demo/RegisterInput">
                            <input type="email"
                                   class="form-control login-input login-input-box"
                                   placeholder="CNP"
                                   id="UserNameBox1"
                                   name="UserName"/>
                            <input type="password"
                                   class="form-control login-input login-input-box"
                                   placeholder="Parola"
                                   id="PasswordBox1"
                                   name="Password"/><br>
                            <button type="submit">Register</button>
                            <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>" />
                        </form>
                    </div>
                    <div class="col-sm-5">
                        <a href="#" class="login-h visible" id="LabelBox1" onclick='showLogin("Box1")'>Student</a>
                    </div>
                </div>
            </div>

            <div class="login-box-2" id="ContainerBox2">
                <div class="row">
                    <div class="col-sm-7 login-fields">
                        
                    
                    </div>
                    <div class="col-sm-5">
                        <a href="#" class="login-h visible" id="LabelBox2" onclick='showLogin("Box2")'>Cadru Universitar</a>
                    </div>
                </div>
            </div>
            <div class="login-box-3" id="ContainerBox3">
                <div class="row">
                    <div class="col-sm-7 login-fields">
                       
                    
                    </div>
                    <div class="col-sm-5">
                        <a href="#" class="login-h visible" id="LabelBox3" onclick='showLogin("Box3")'>Secretariat</a>
                    </div>
                </div>
            </div>
            <div class="login-box-4" id="ContainerBox4">
                <div class="row">
                    <div class="col-sm-7 login-fields">
                        
                    
                    </div>
                    <div class="col-sm-5">
                        <a href="#" class="login-h visible" id="LabelBox4" onclick='showLogin("Box4")'>Secretariat</a>
                    </div>
                </div>
            </div>

        </div>



    </div>
</body>