@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Ai uitat parola?";
}


<div class="container-fluid login-bg">
    <div class="forgot-password-center">
        <h2>@ViewData["Title"]</h2>

            <h4>Iti vom trimite un mail pentru resetarea parolei.</h4>
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group has-feedback">
                    <input asp-for="Email" class="form-control" placeholder="email@domain.com"/>
                    <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Reseteaza parola</button>
            </form>
</div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
